@use "abstracts/" as *;

button {
  background: none;
  border: inherit;
  padding: inherit;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.btn {
  text-decoration: none;
  font-weight: 700;
  display: block;
  padding: 0.55em 2.2em;
  width: fit-content;
  margin-bottom: 29px;
  margin-top: 40px;
  cursor: pointer;
  border-radius: $border-radius;
  border: 1px solid $color-vorstellung-primary;
  color: $color-white;
  background-color: $color-vorstellung-primary;
  min-width: 252px;
  font-size: 0.875rem; // 14px รท 16 = 0.875rem
  line-height: 1.5rem; // 24px รท 16 = 1.5rem
  height: 45px;
  text-align: center;
  transition: transform 0.2s ease;
  transform-origin: center;
  .btn__text {
    color: $color-white;
  }
  @media (min-width: $bp-large) {
    font-size: 1.5rem; // 24px รท 16 = 1.5rem
    line-height: 2.5rem; // 40px รท 16 = 2.5rem
    height: 70px;
    min-width: 388px;
  }
  &:hover {
    transform: scale(1.02);
  }
}
