@use "abstracts/" as *;
.logged-in {
  #wpadminbar {
    position: fixed;
  }
  .header {
    .burger-navigation {
      top: 46px;
      @media (min-width: $bp-tablet) {
        top: 32px;
      }
    }

    .active {
      margin-top: 46px;
      @media (min-width: $bp-tablet) {
        margin-top: 32px;
      }
    }
  }
}
.header {
  width: 100%;
  margin: 0 auto;

  // box-shadow: 0 10px 15px #f6f6f6;
  background-color: $color-white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    position: relative;
    margin: 0 auto;
    gap: 40px;

    @media (min-width: $bp-tablet) {
      height: 130px;
    }
  }

  .header-logos {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 30px;

    @media (min-width: $bp-large) {
      gap: 40px;
    }

    .logo-main img {
      min-width: 123px;
      max-width: 232px;
      flex-grow: 1;

      @media (min-width: $bp-tablet) {
        max-height: 88px;
        width: 232px;
        margin: 14px 0;
      }
    }

    .logo-network img {
      min-width: 112px;
      max-height: 37px;
      flex-grow: 1;

      @media (min-width: $bp-tablet) {
        max-height: 69px;
      }
    }
  }

  .contact-wrapper {
    display: none;
    gap: 40px;
    flex-direction: row;
    padding: 62px 0;
    @media (min-width: $bp-large) {
      display: flex;
    }
    a {
      //used in Popup Menu as well
      color: var(--acf-primary, #{$color-accent});
      font-size: 1.125rem; // 18px ÷ 16 = 1.125rem
      text-decoration: none;
      display: flex;
      gap: 10px;
      flex-direction: row;
    }
  }

  //Platzhalter für Burger Button im flex Container
  .burger-navigation-helper {
    position: static;
    display: flex;
    height: 76px;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    border: none;
    padding: 10px;
  }

  .btn.burger-navigation {
    position: fixed;
    z-index: 20;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    width: 79px;
    max-width: 79px;
    min-width: 60px;
    border: none;
    margin: 0;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      // opacity: 0.8;
    }

    @media (min-width: $bp-tablet) {
      height: 130px;
    }

    @media (min-width: $bp-xlarge) {
      $right: calc((100% - 1920px) / 2 + 129px);
      right: $right;
    }

    .wrapper {
      width: 100%;
      height: 69px;
      // padding: 22px;
      gap: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      &:hover,
      &:active,
      &:focus {
        background-color: var(--acf-primary, #{$color-accent});
        .burger-bars {
          background-color: $color-white;
        }
      }

      .burger-bars {
        position: static;
        width: 35px;
        height: 2px;
        background-color: var(--acf-primary, #{$color-accent});
      }
    }

    &.scrolled {
      .wrapper {
        background-color: var(--acf-primary, #{$color-accent});
        &:hover,
        &:focus-visible {
          background-color: $color-accent-darken;
        }

        .burger-bars {
          background-color: $color-white;
        }
      }
    }
  }
}
