@use "../../scss/abstracts/" as *;

.ansprechpartner.module {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;

    @media (min-width: $bp-tablet) {
      padding-left: 100px;
      padding-right: 100px;
    }

    .headline-2 {
      display: block;
      width: 100%;
      font-weight: 900;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 8px;
        background-color: #228b22;
        margin: 14px auto 0 0;
      }
    }

    .group.wrapper {
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 64px;
      padding-bottom: 64px;
      @media (max-width: ($bp-tablet - 1px)) {
        flex-direction: row;
      }

      .ansprechpartner__overlay {
        display: flex;
        align-items: flex-end;
        gap: 32px;
        @media (max-width: ($bp-tablet - 1px)) {
          flex-direction: row;
          align-items: flex-end;
          width: 100%;
          gap: 16px;
        }

        @media (max-width: ($bp-mobile - 1px)) {
          flex-direction: column;
          align-items: flex-start;
        }

        .image {
          img {
            object-fit: cover;
            max-width: 200px;
            width: 200px;
            height: 325px;
            max-height: 325px;
          }
        }

        .text-wrapper {
          width: 280px;
          align-items: flex-start;
          justify-content: flex-start;
          box-shadow: none;
          padding: 0;

          @media (max-width: ($bp-tablet - 1px)) {
            width: 100%;
          }

          .headline-3 {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 900;
            letter-spacing: 0.05em;
            line-height: 1.1;
            margin-bottom: 18px;
          }

          .headline-4 {
            font-size: 1.1rem;
            line-height: 1.1;
          }
          .beschreibung {
            font-size: 0.95rem;
            line-height: 1.4;
          }
        }
      }
    }
  }
}
