@use "../../scss/abstracts/" as *;

.ansprechpartner {
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 32px;

    @media (min-width: $bp-tablet) {
      gap: 60px;
    }

    @media (min-width: $bp-large) {
    }

    .image {
      img {
        object-fit: contain;
        max-width: 400px;
        max-height: 400px;
      }
    }

    .text-wrapper {
      align-items: flex-start;
      justify-content: flex-start;
      box-shadow: none;
      padding: 0;
    }
  }
}
