@use "../abstracts/" as *;

.legal {
  .text-wrapper {
    width: 100%;
    max-width: 1250px;

    .headline-2,
    .headline-3,
    .headline-4,
    h2,
    h3,
    h4,
    h5 {
      margin-top: 1em;
      color: $color-primary;
    }

    .headline-3,
    h3 {
      font-weight: 400;
    }

    p {
      margin: 1em;
    }

    p + h3,
    p + .headline,
    p + h4 {
      margin-top: 1.5em;
    }
  }
}
