@use "../abstracts/" as *;

.block-image-text-btn {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;

  .background-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    img {
      object-position: center;
      display: block;
    }
  }

  .content-overlay {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 13px;

    @media (min-width: $bp-tablet) {
      padding: 0 34px;
    }

    @media (min-width: $bp-large) {
      padding: 0 $grid-plus-gap;
    }
  }

  .text-wrapper {
    max-width: 945px;

    .headline {
      color: $color-white;
      font-weight: 500;
    }
  }

  .buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 0;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    z-index: 2;
  }

  .btn {
    width: 33.333vw;
    height: 83px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    border-radius: 0px;
    a {
      color: $color-white;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
    }
  }

  .btn.orange {
    background-color: $color-vorstellung-accent;
  }

  .btn.blue {
    background-color: $color-vorstellung-primary;
  }
}
