@use "../abstracts/" as *;

.image-data {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  min-height: 360px;
  overflow: hidden;

  &__col {
    min-width: 0;
  }

  &__col--image {
    position: relative;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__col--data {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px 16px;
  }

  &__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__value {
    font-weight: 700;
    font-size: clamp(2rem, 4vw, 3.5rem);
    line-height: 1.1;
  }
  &__value.green {
    color: $color-vorstellung-secondary;
  }
  &__value.blue {
    color: $color-vorstellung-primary;
  }

  &__text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.3;
  }
}
